<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create New Poll</title>
  <link rel="stylesheet" href="{% static 'css/polls/create_poll.css' %}">
</head>
<body>
  <div class="container">
    <h2>Create New Poll</h2>
    <form method="post">
      {% csrf_token %}
      {{ poll_form.as_p }}
      {{ option_form.as_p }}
      <button type="submit">Create</button>
    </form>

    <a href="{% url 'admin_poll_list' %}" class="back-link">← Back to Admin Poll List</a>
  </div>
</body>
</html>
