<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Poll</title>
  <link rel="stylesheet" href="{% static 'css/polls/edit_poll.css' %}">
</head>
<body>
  <div class="container">
    <h2>Edit Poll: {{ poll.question }}</h2>

    <form method="post">
      {% csrf_token %}
      {{ poll_form.as_p }}
      <h3>Options:</h3>
      {% for form in formset %}
        <div class="option-form">
          {{form.text}}
        </div>
      {% endfor %}
      <button type="submit">Update</button>
    </form>

    <a href="{% url 'admin_poll_list' %}" class="back-link">← Back to Poll List</a>
  </div>
</body>
</html>
