<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
</head>

<body>
  <div class="login-container">

    <h2>Login (Select User or Admin)</h2>
    {% if messages %}
    {% for message in messages %}
    <p style="color:rgb(255, 0, 0);">{{ message }}</p>
    {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <label class="role-option"><input type="radio" name="role" value="user" required> User</label>
      <label class="role-option"><input type="radio" name="role" value="admin" required> Admin</label><br><br>

      <input type="text" name="username" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <button type="submit">Login</button>
    </form>

    <a class="signup-link" href="{% url 'signup' %}">New user? Signup here</a>

  </div>
</body>

</html>